/*Обнуляющие стили*/
*{
   padding: 0;
   margin: 0;
   border: 0;
}
 *,
 *:before,
 *:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active{
   outline: none;
}
a:focus,
a:active{
   outline: none;
}
nav,
footer,
header,
aside{
   display: block;
}
html,
body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea{
   font-family: inherit;
}
input::-ms-clear{
   display: none;
}
button{
   cursor: pointer;
}
button::-moz-focus-inner{
   padding: 0;
   border: 0;
}
a,
a:visited{
   text-decoration: none;
}
a:hover{
   text-decoration: none;
}
ul li{
   list-style: none;
}
img{
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
   font-size: inherit;
   font-weight: inherit;
}
/*--------------------*/

body{
   font-family: 'Montserrat', sans-serif;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   padding: 100px 0px 100px 0px;
}
.columns__container {
   margin: 0px auto;
   max-width: 1400px;
}
.columns__row{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   padding: 0px 30px 0px 30px;
}
.columns__info{
   display: flex;
   min-height: 500px;
   justify-content: space-around;
   margin: -50px 0px 0px 0px;
}
.columns__block{
   display: flex;
   flex: 0 1 45%;
   justify-content: center;
}
.columns__block_2, .columns__block_4{
   align-self: flex-end;
}
.columns__title{
   margin: 0px 20px 0px 0px;
}
.columns__window{
   display: flex;
   flex-direction: column;
}
.columns__subtitle{
   text-transform: uppercase;
   white-space: nowrap;
   font-weight: bold;
   font-size: 72px;
   color: #FFFFFF;
	text-shadow: 
      -0   -1px 0   #676767,
         0   -1px 0   #676767,
      -0    1px 0   #676767,
         0    1px 0   #676767,
      -1px -0   0   #676767,
         1px -0   0   #676767,
      -1px  0   0   #676767,
         1px  0   0   #676767,
      -1px -1px 0   #676767,
         1px -1px 0   #676767,
      -1px  1px 0   #676767,
         1px  1px 0   #676767,
      -1px -1px 0   #676767,
         1px -1px 0   #676767,
      -1px  1px 0   #676767,
      1px  1px 0   #676767,
      -8px -8px #FFD966;
}
.columns__subtitle::after{
   color: #FFD966;
   text-shadow: -8px -8px #FFD966;
}
.columns__text{
   max-width: 360px;
}
h2{
   font-weight: 700;
   font-size: 24px;
   padding: 30px 0px 30px 0px;
}
p{
   font-size: 18px;
   line-height: 22px;
}
a{
   display: block;
   font-size: 18px;
   color: #6ACCB2;
   padding: 20px 0px 0px 0px;
   text-decoration: underline;
}
a:hover{
   text-decoration: none;
}

@media (max-width: 780px) {
   .columns__row{
      padding: 0px 10px 0px 10px;
   }
   .columns__info{
      min-height: 350px;
      margin: -30px 0px -30px 0px;
   }
   .columns__title img{
      height: 70px;
      width: 70px;
   }
   .columns__subtitle{
      font-size: 50px;
   }
   h2{
      font-size: 18px;
      padding: 10px 0px 10px 0px;
   }
   p{
      font-size: 12px;
      line-height: 14px;
   }
   a{
      font-size: 13px;
      padding: 10px 0px 0px 0px;
   }
}

@media (max-width: 540px) {
   .wrapper{
      padding: 50px 0px 50px 0px;
   }
   .columns__info{
      flex-direction: column;
      margin: 0;
   }
   .columns__block{
      justify-content: flex-start;
      padding: 20px 10px 40px 10px;
   }
   .columns__block_2, .columns__block_4{
      align-self: flex-start
   }
   p{
      padding: 0;
   }
   a{
      display: block;
      padding: 10px 0px 0px 0px;
   }
}