/*Обнуляющие стили*/
* {
   padding: 0;
   margin: 0;
   border: 0;
 }
 *,
 *:before,
 *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 :focus,
 :active {
   outline: none;
 }
 a:focus,
 a:active {
   outline: none;
 }
 nav,
 footer,
 header,
 aside {
   display: block;
 }
 html,
 body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
 }
 input,
 button,
 textarea {
   font-family: inherit;
 }
 input::-ms-clear {
   display: none;
 }
 button {
   cursor: pointer;
 }
 button::-moz-focus-inner {
   padding: 0;
   border: 0;
 }
 a,
 a:visited {
   text-decoration: none;
 }
 a:hover {
   text-decoration: none;
 }
 ul li {
   list-style: none;
 }
 img {
   vertical-align: top;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-size: inherit;
   font-weight: inherit;
 }
 /*--------------------*/
 body{
   font-family: 'Montserrat', sans-serif;
 }
 .wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .container {
   margin: 0px auto;
   max-width: 1400px;
 }
.columns__row{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.columns__info{
   display: flex;
   height: 500px;
}
.columns__block{
   display: flex;
   flex: 1 1 50%;
   padding: 30px;
}
.columns__block_2, .columns__block_4{
   align-self: flex-end;
}
.columns__title{
   margin: 0px 20px 0px 0px;
}
.columns__window{
   display: flex;
   flex-direction: column;
}
.columns__subtitle{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 72px;
   text-shadow: -10px -8px #FFD966;
}
.columns__text{
   max-width: 360px;
}
h1{
   font-weight: 700;
   font-size: 24px;
   padding: 30px 0px 30px 0px;
}
p{
   font-size: 18px;
   line-height: 22px;
   padding: 0px 0px 30px 0px;
}
a{
   font-size: 18px;
   color: #6ACCB2;
}